@model ProfileListingProject.Web.Areas.Admin.Models.UserUpdateModel
@{
    ViewData["Title"] = "Register a new User";
}

<h1>@ViewData["Title"]</h1>

@section notification
{
    @await Html.PartialAsync("_Notification", Model.Notification)
}

<div class="row">
    <div class="col-md-4 aligncenter">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Create a new account.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email">Email</label>
                <input name="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password">Password</label>
                <input type="password" name="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword">Confirm Your Password</label>
                <input type="password" name="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Role" class="control-label">Role </label>
                <select name="Role" class="form-control form-control-sm select2" style="width: 100%;">
                    <option disabled selected> Please Select a new Item </option>
                    @foreach (var item in ViewBag.RoleList)
                    {
                        <option value="@item.Text">@item.Value</option>
                    }
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
