@model ProfileListingProject.Web.Models.MailSendingModel
@{
    ViewData["Title"] = "Contact";
}

@section styles
{
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css" rel="stylesheet" />

}
@section scripts
{
}

<h1 class="aligncenter">Contact</h1>

@section notification
{
    @await Html.PartialAsync("_Notification", Model.Notification)
}

<section id="content">

    <div class="container">
        <div class="row">
            <div class="span8">
                <p>
                    To Create a Company First Sign Up with your Company Mail , Then Give us your Email and
                    Company Name You Preferred. Just Send us a Message.
                </p>

                <div id="sendmessage">Your message has been sent. Thank you!</div>
                <div id="errormessage">Something Wrong. Message Not Sent. Please Try Back Later</div>
                <form asp-controller="Home" asp-action="Contact" method="post" role="form" class="contactForm">
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="span4 form-group field">
                            <input class="" type="text" name="SenderName" id="name" placeholder="Your Company Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                            <div class="validation"></div>
                        </div>

                        <div class="span4 form-group">
                            <input type="email" name="Sender" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                            <div class="validation"></div>
                        </div>
                        <div class="span8 form-group">
                            <input type="text" name="Subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                            <div class="validation"></div>
                        </div>
                        <div class="span8 form-group">
                            <textarea name="Body" rows="5" data-rule="required" data-msg="Please write something for us"
                                      placeholder="Message"></textarea>
                            <div class="validation"></div>
                            <div class="text-center">
                                <button class="btn btn-theme btn-medium margintop10" type="submit">Send a message</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="span4">
                <div class="clearfix"></div>
                <aside class="right-sidebar">

                    <div class="widget">
                        <h5 class="widgetheading">Contact information<span></span></h5>

                        <ul class="contact-info">
                            <li><label>Address :</label> Uttara <br /> Dhaka , Bangladesh </li>
                            <li><label>Phone :</label>+62 123 456 78 / +62 123 456 79</li>
                            <li><label>Fax : </label>+62 123 456 10 / +62 123 456 11</li>
                            <li><label>Email : </label> info@yourdomain.com</li>
                        </ul>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</section>

