@{
    ViewData["Title"] = "Home Page";
}

@section styles
{

    <link href="~/css/site.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css" rel="stylesheet" />
}


@section scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#myCarousel").on("slide.bs.carousel", function (e) {
                var $e = $(e.relatedTarget);
                var idx = $e.index();
                var itemsPerSlide = 3;
                var totalItems = $(".carousel-item").length;

                if (idx >= totalItems - (itemsPerSlide - 1)) {
                    var it = itemsPerSlide - (totalItems - idx);
                    for (var i = 0; i < it; i++) {
                        // append slides to end
                        if (e.direction == "left") {
                            $(".carousel-item")
                                .eq(i)
                                .appendTo(".carousel-inner");
                        } else {
                            $(".carousel-item")
                                .eq(0)
                                .appendTo($(this).find(".carousel-inner"));
                        }
                    }
                }
            });
        });


    </script>
}


<div class="row">
    <div id="wrapper">
        <!-- section featured -->
        <section id="featured">
            <!-- slideshow start here -->
            <div class="camera_wrap" id="camera-slide">
                <!-- slide 1 here -->
                <div data-src="/img/slides/camera/slide1/img1.jpg">
                    <div class="camera_caption fadeFromLeft">
                        <div class="container">
                            <div class="row">
                                <div class="span6">
                                    <h2 class="animated fadeInDown"><strong>Great template for <span class="colored">multi usage</span></strong></h2>
                                    <p class="animated fadeInUp"> Vim porro dicam reprehendunt te, populo quodsi dissentiet cum ad. Ne natum deseruisse vis. Iisque deseruisse sententiae mel ne, dolores appetere vim ut. Sea no tamquam reprimique.</p>
                                    <a href="#" class="btn btn-success btn-large animated fadeInUp">
                                        <i class="icon-link"></i> Read more
                                    </a>
                                    <a href="#" class="btn btn-theme btn-large animated fadeInUp">
                                        <i class="icon-download"></i> Download
                                    </a>
                                </div>
                                <div class="span6">
                                    <img src="/img/slides/camera/slide1/screen.png" alt="" class="animated bounceInDown delay1" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- slide 2 here -->
                <div data-src="/img/slides/camera/slide2/img1.jpg">
                    <div class="camera_caption fadeFromLeft">
                        <div class="container">
                            <div class="row">
                                <div class="span6">
                                    <img src="/img/slides/camera/slide2/iMac.png" alt="" />
                                </div>
                                <div class="span6">
                                    <h2 class="animated fadeInDown"><strong>Put your <span class="colored">Opt in form</span></strong></h2>
                                    <p class="animated fadeInUp"> Vim porro dicam reprehendunt te, populo quodsi dissentiet cum ad. Ne natum deseruisse vis. Iisque deseruisse sententiae mel ne, dolores appetere vim ut. Sea no tamquam reprimique.</p>
                                    <form>
                                        <div class="input-append">
                                            <input class="span3 input-large" type="text">
                                            <button class="btn btn-theme btn-large" type="submit">Subscribe</button>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <!-- slide 3 here -->
                <div data-src="/img/slides/camera/slide2/img1.jpg">
                    <div class="camera_caption fadeFromLeft">
                        <div class="container">
                            <div class="row">
                                <div class="span12 aligncenter">
                                    <h2 class="animated fadeInDown"><strong><span class="colored">Responsive</span> and <span class="colored">cross broswer</span> compatibility</strong></h2>
                                    <p class="animated fadeInUp">Pellentesque habitant morbi tristique senectus et netus et malesuada</p>
                                    <img src="/img/slides/camera/slide3/browsers.png" alt="" class="animated bounceInDown delay1" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!-- slideshow end here -->

        </section>
        <!-- /section featured -->

        <section id="content">
            <div class="container">

                <div class="row">
                    <div class="span12">
                        <h2 class="text-bold aligncenter">Featured Companies</h2>
                    </div>
                </div>

                @*Bootstrap Multi card Carousel start*@

                <div class="container-fluid">
                    @*<h1 class="text-center mb-3">Bootstrap Multi-Card Carousel</h1>*@
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner row w-100 mx-auto">
                            <div class="carousel-item col-md-4 active">
                                <div class="card">
                                    <img class="card-img-top img-fluid" src="http://placehold.it/800x600/f44242/fff" alt="Card image cap">
                                    <div class="card-body">
                                        <h4 class="card-title">Card 1</h4>
                                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item col-md-4">
                                <div class="card">
                                    <img class="card-img-top img-fluid" src="http://placehold.it/800x600/418cf4/fff" alt="Card image cap">
                                    <div class="card-body">
                                        <h4 class="card-title">Card 2</h4>
                                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item col-md-4">
                                <div class="card">
                                    <img class="card-img-top img-fluid" src="http://placehold.it/800x600/3ed846/fff" alt="Card image cap">
                                    <div class="card-body">
                                        <h4 class="card-title">Card 3</h4>
                                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item col-md-4">
                                <div class="card">
                                    <img class="card-img-top img-fluid" src="http://placehold.it/800x600/42ebf4/fff" alt="Card image cap">
                                    <div class="card-body">
                                        <h4 class="card-title">Card 4</h4>
                                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item col-md-4">
                                <div class="card">
                                    <img class="card-img-top img-fluid" src="http://placehold.it/800x600/f49b41/fff" alt="Card image cap">
                                    <div class="card-body">
                                        <h4 class="card-title">Card 5</h4>
                                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item col-md-4">
                                <div class="card">
                                    <img class="card-img-top img-fluid" src="http://placehold.it/800x600/f4f141/fff" alt="Card image cap">
                                    <div class="card-body">
                                        <h4 class="card-title">Card 6</h4>
                                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item col-md-4">
                                <div class="card">
                                    <img class="card-img-top img-fluid" src="http://placehold.it/800x600/8e41f4/fff" alt="Card image cap">
                                    <div class="card-body">
                                        <h4 class="card-title">Card 7</h4>
                                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>

                @*Bootstrap Multi card Carousel End*@

                <div class="row">
                    <div class="span12">
                        <h2 class="text-bold aligncenter">New Members</h2>
                    </div>
                </div>

                @*Bootstrap Multi card Carousel start*@

            <div class="container-fluid">
                @*<h1 class="text-center mb-3">Bootstrap Multi-Card Carousel</h1>@**@
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner row w-100 mx-auto">
                        <div class="carousel-item col-md-4 active">
                            <div class="card">
                                <img class="card-img-top img-fluid" src="http://placehold.it/800x600/f44242/fff" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">Card 1</h4>
                                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item col-md-4">
                            <div class="card">
                                <img class="card-img-top img-fluid" src="http://placehold.it/800x600/418cf4/fff" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">Card 2</h4>
                                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item col-md-4">
                            <div class="card">
                                <img class="card-img-top img-fluid" src="http://placehold.it/800x600/3ed846/fff" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">Card 3</h4>
                                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item col-md-4">
                            <div class="card">
                                <img class="card-img-top img-fluid" src="http://placehold.it/800x600/42ebf4/fff" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">Card 4</h4>
                                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item col-md-4">
                            <div class="card">
                                <img class="card-img-top img-fluid" src="http://placehold.it/800x600/f49b41/fff" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">Card 5</h4>
                                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item col-md-4">
                            <div class="card">
                                <img class="card-img-top img-fluid" src="http://placehold.it/800x600/f4f141/fff" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">Card 6</h4>
                                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item col-md-4">
                            <div class="card">
                                <img class="card-img-top img-fluid" src="http://placehold.it/800x600/8e41f4/fff" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">Card 7</h4>
                                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>

                @*Bootstrap Multi card Carousel start*@



                <div class="row">
                    <div class="span12">
                        <div class="solidline"></div>
                    </div>
                </div>

                <div class="row">
                    <div class="span12">
                        <div class="row">
                            <div class="span12">
                                <div class="aligncenter">
                                    <h3>Our <strong>Pricing</strong></h3>
                                    <p>
                                        Lorem ipsum dolor sit amet, labores dolorum scriptorem eum an, te quodsi sanctus neglegentur.
                                    </p>
                                </div>
                            </div>
                        </div>


                        <div class="row">

                            <div class="span3">
                                <div class="pricing-box-wrap animated-fast flyIn">
                                    <div class="pricing-heading">
                                        <h3>Very <strong>Basic</strong></h3>
                                    </div>
                                    <div class="pricing-terms">
                                        <h6>&#36;15.00 / Month</h6>
                                    </div>
                                    <div class="pricing-content">
                                        <ul>
                                            <li><i class="icon-ok"></i> 100 applications</li>
                                            <li><i class="icon-ok"></i> 24x7 support available</li>
                                            <li><i class="icon-ok"></i> No hidden fees</li>
                                            <li><i class="icon-ok"></i> Free 30-days trial</li>
                                            <li><i class="icon-ok"></i> Stop anytime easily</li>
                                        </ul>
                                    </div>
                                    <div class="pricing-action">
                                        <a href="#" class="btn btn-medium btn-theme"><i class="icon-chevron-down"></i> Sign Up</a>
                                    </div>
                                </div>
                            </div>

                            <div class="span3">
                                <div class="pricing-box-wrap animated-fast flyIn">
                                    <div class="pricing-heading">
                                        <h3>Simple <strong>Choice</strong></h3>
                                    </div>
                                    <div class="pricing-terms">
                                        <h6>&#36;20.00 / Month</h6>
                                    </div>
                                    <div class="pricing-content">
                                        <ul>
                                            <li><i class="icon-ok"></i> 100 applications</li>
                                            <li><i class="icon-ok"></i> 24x7 support available</li>
                                            <li><i class="icon-ok"></i> No hidden fees</li>
                                            <li><i class="icon-ok"></i> Free 30-days trial</li>
                                            <li><i class="icon-ok"></i> Stop anytime easily</li>
                                        </ul>
                                    </div>
                                    <div class="pricing-action">
                                        <a href="#" class="btn btn-medium btn-theme"><i class="icon-chevron-down"></i> Sign Up</a>
                                    </div>
                                </div>
                            </div>

                            <div class="span3">
                                <div class="pricing-box-wrap special animated-slow flyIn">
                                    <div class="pricing-heading">
                                        <h3>Special <strong>Choice</strong></h3>
                                    </div>
                                    <div class="pricing-terms">
                                        <h6>&#36;15.00 / Month</h6>
                                    </div>
                                    <div class="pricing-content">
                                        <ul>
                                            <li><i class="icon-ok"></i> 100 applications</li>
                                            <li><i class="icon-ok"></i> 24x7 support available</li>
                                            <li><i class="icon-ok"></i> No hidden fees</li>
                                            <li><i class="icon-ok"></i> Free 30-days trial</li>
                                            <li><i class="icon-ok"></i> Stop anytime easily</li>
                                        </ul>
                                    </div>
                                    <div class="pricing-action">
                                        <a href="#" class="btn btn-medium btn-theme"><i class="icon-chevron-down"></i> Sign Up</a>
                                    </div>
                                </div>
                            </div>

                            <div class="span3">
                                <div class="pricing-box-wrap animated flyIn">
                                    <div class="pricing-heading">
                                        <h3>Just <strong>Happy</strong></h3>
                                    </div>
                                    <div class="pricing-terms">
                                        <h6>&#36;15.00 / Month</h6>
                                    </div>
                                    <div class="pricing-content">
                                        <ul>
                                            <li><i class="icon-ok"></i> 100 applications</li>
                                            <li><i class="icon-ok"></i> 24x7 support available</li>
                                            <li><i class="icon-ok"></i> No hidden fees</li>
                                            <li><i class="icon-ok"></i> Free 30-days trial</li>
                                            <li><i class="icon-ok"></i> Stop anytime easily</li>
                                        </ul>
                                    </div>
                                    <div class="pricing-action">
                                        <a href="#" class="btn btn-medium btn-theme"><i class="icon-chevron-down"></i> Sign Up</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>


                </div>



                <div class="row">
                    <div class="span12 aligncenter">
                        <h3 class="title">What people <strong>saying</strong> about us</h3>
                        <div class="blankline30"></div>

                        <ul class="bxslider">
                            <li>
                                <blockquote>
                                    Aliquam a orci quis nisi sagittis sagittis. Etiam adipiscing, justo quis feugiat.Suspendisse eu erat quam. Vivamus porttitor eros quis nisi lacinia sed interdum lorem vulputate. Aliquam a orci quis nisi sagittis sagittis. Etiam adipiscing, justo quis
                                    feugiat
                                </blockquote>
                                <div class="testimonial-autor">
                                    <img src="~/img/dummies/testimonial/1.png" alt="" />
                                    <h4>Hillary Doe</h4>
                                    <a href="#">www.companyname.com</a>
                                </div>
                            </li>
                            <li>
                                <blockquote>
                                    Aliquam a orci quis nisi sagittis sagittis. Etiam adipiscing, justo quis feugiat.Suspendisse eu erat quam. Vivamus porttitor eros quis nisi lacinia sed interdum lorem vulputate. Aliquam a orci quis nisi sagittis sagittis. Etiam adipiscing, justo quis
                                    feugiat
                                </blockquote>
                                <div class="testimonial-autor">
                                    <img src="~/img/dummies/testimonial/2.png" alt="" />
                                    <h4>Michael Doe</h4>
                                    <a href="#">www.companyname.com</a>
                                </div>
                            </li>
                            <li>
                                <blockquote>
                                    Aliquam a orci quis nisi sagittis sagittis. Etiam adipiscing, justo quis feugiat.Suspendisse eu erat quam. Vivamus porttitor eros quis nisi lacinia sed interdum lorem vulputate. Aliquam a orci quis nisi sagittis sagittis. Etiam adipiscing, justo quis
                                    feugiat
                                </blockquote>
                                <div class="testimonial-autor">
                                    <img src="~/img/dummies/testimonial/3.png" alt="" />
                                    <h4>Mark Donovan</h4>
                                    <a href="#">www.companyname.com</a>
                                </div>
                            </li>
                            <li>
                                <blockquote>
                                    Aliquam a orci quis nisi sagittis sagittis. Etiam adipiscing, justo quis feugiat.Suspendisse eu erat quam. Vivamus porttitor eros quis nisi lacinia sed interdum lorem vulputate. Aliquam a orci quis nisi sagittis sagittis. Etiam adipiscing, justo quis
                                    feugiat
                                </blockquote>
                                <div class="testimonial-autor">
                                    <img src="~/img/dummies/testimonial/4.png" alt="" />
                                    <h4>Marry Doe Elliot</h4>
                                    <a href="#">www.companyname.com</a>
                                </div>
                            </li>
                        </ul>

                    </div>
                </div>

            </div>
        </section>


        <section id="works">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <h4 class="title">Recent <strong>Works</strong></h4>
                        <div class="row">

                            <div class="grid cs-style-4">
                                <div class="span3">
                                    <div class="item">
                                        <figure>
                                            <div><img src="~/img/dummies/works/1.jpg" alt="" /></div>
                                            <figcaption>
                                                <div>
                                                    <span>
                                                        <a href="~/img/dummies/works/big.png" data-pretty="prettyPhoto[gallery1]" title="Portfolio caption here"><i class="icon-plus icon-circled icon-bglight icon-2x"></i></a>
                                                    </span>
                                                    <span>
                                                        <a href="#"><i class="icon-file icon-circled icon-bglight icon-2x"></i></a>
                                                    </span>
                                                </div>
                                            </figcaption>
                                        </figure>
                                    </div>
                                </div>
                                <div class="span3">
                                    <div class="item">
                                        <figure>
                                            <div><img src="~/img/dummies/works/2.jpg" alt="" /></div>
                                            <figcaption>
                                                <div>
                                                    <span>
                                                        <a href="~/img/dummies/works/big.png" data-pretty="prettyPhoto[gallery1]" title="Portfolio caption here"><i class="icon-plus icon-circled icon-bglight icon-2x"></i></a>
                                                    </span>
                                                    <span>
                                                        <a href="#"><i class="icon-file icon-circled icon-bglight icon-2x"></i></a>
                                                    </span>
                                                </div>
                                            </figcaption>
                                        </figure>
                                    </div>
                                </div>
                                <div class="span3">
                                    <div class="item">
                                        <figure>
                                            <div><img src="~/img/dummies/works/3.jpg" alt="" /></div>
                                            <figcaption>
                                                <div>
                                                    <span>
                                                        <a href="~/img/dummies/works/big.png" data-pretty="prettyPhoto[gallery1]" title="Portfolio caption here"><i class="icon-plus icon-circled icon-bglight icon-2x"></i></a>
                                                    </span>
                                                    <span>
                                                        <a href="#"><i class="icon-file icon-circled icon-bglight icon-2x"></i></a>
                                                    </span>
                                                </div>
                                            </figcaption>
                                        </figure>
                                    </div>
                                </div>
                                <div class="span3">
                                    <div class="item">
                                        <figure>
                                            <div><img src="~/img/dummies/works/4.jpg" alt="" /></div>
                                            <figcaption>
                                                <div>
                                                    <span>
                                                        <a href="~/img/dummies/works/big.png" data-pretty="prettyPhoto[gallery1]" title="Portfolio caption here"><i class="icon-plus icon-circled icon-bglight icon-2x"></i></a>
                                                    </span>
                                                    <span>
                                                        <a href="#"><i class="icon-file icon-circled icon-bglight icon-2x"></i></a>
                                                    </span>
                                                </div>
                                            </figcaption>
                                        </figure>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <a href="#" class="scrollup"><i class="icon-angle-up icon-square icon-bglight icon-2x active"></i></a>

</div>