
@{
    ViewData["Title"] = "Index";
}


<section id="content">
    <div class="container">

        <div class="row">
            <div class="span3">
                <h2> Crystal IT</h2>
            </div>
            <div class="span6">
                <img src="/img/slides/camera/slide1/screen.png" alt="" class="animated bounceInDown delay1" />
            </div>
            <div class="span3">
                <img src="~/img/logo.png" alt="Company Logo" />
            </div>
        </div>

        <div class="row">
            <div class="span12">
                <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                    <div class="container">
                        <div class="row nomargin">
                            <div class="span8 ml-0">
                                <div class="navbar navbar-static-top">
                                    <div class="navigation">
                                        <nav>
                                            <ul class="nav topnav">
                                                <li class="active">
                                                    <a href="index.html"><i class="icon-home"></i> Info</a>
                                                </li>
                                                <li class="dropdown">
                                                    <a href="#">Services <i class="icon-angle-down"></i></a>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="typography.html">Typography</a></li>
                                                        <li><a href="components.html">Components</a></li>
                                                        <li><a href="icons.html">Icons</a></li>
                                                        <li><a href="icon-variations.html">Icon variations</a></li>
                                                        <li class="dropdown">
                                                            <a href="#">3rd menus<i class="icon-angle-right"></i></a>
                                                            <ul class="dropdown-menu sub-menu-level1">
                                                                <li><a href="index.html">Sub menu</a></li>
                                                                <li><a href="index.html">Sub menu</a></li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="dropdown">
                                                    <a href="#">Products <i class="icon-angle-down"></i></a>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="about.html">About us</a></li>
                                                        <li><a href="faq.html">FAQ</a></li>
                                                        <li><a href="team.html">Team</a></li>
                                                        <li><a href="services.html">Services</a></li>
                                                        <li><a href="pricingbox.html">Pricing boxes</a></li>
                                                        <li><a href="404.html">404</a></li>
                                                    </ul>
                                                </li>
                                                <li class="dropdown">
                                                    <a href="#">Projects <i class="icon-angle-down"></i></a>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="portfolio-2cols.html">Portfolio 2 columns</a></li>
                                                        <li><a href="portfolio-3cols.html">Portfolio 3 columns</a></li>
                                                        <li><a href="portfolio-4cols.html">Portfolio 4 columns</a></li>
                                                        <li><a href="portfolio-detail.html">Portfolio detail</a></li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="contact.html">Contact </a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>


        <div class="row">
            <div class="span4">
                <article>
                    <h1>Summary</h1>
                    <hr>
                    <p>lorem iosumdkasbd askjdasjdba dajsdb</p>
                </article>
            </div>
            <div class="span8">
                <aside class="right-sidebar align-right">
                    <h2> Techonologies</h2>
                    <h6>C#,Java , ASP.net Core , Sql server</h6>
                    <h2>Team</h2>
                    <h6>Developer : 20</h6>
                    <h6>UX designer : 5</h6>
                    <h6>Other Staff : 5</h6>
                </aside>
            </div>
        </div>
    </div>
</section>