@model IList<ProfileListingProject.Core.Entities.CompanyService>
@{
    ViewData["Title"] = "Services";
}


@section styles
{
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
}


@section scripts
{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>


}

<section id="inner-headline">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="inner-heading">
                    <div class="span3">
                        <button class="btn-danger" onclick="window.history.back();">Return to Previous page</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="span12">
            <h2 class="bold aligncenter">Our Services</h2>
        </div>
    </div>
</section>


<section id="content">
    <div class="container">
        <div class="row">
            @{
                string[] flyDirection = { "flyLeft", "flyRight" };
                int count = 0;
            }
            @foreach (var item in ViewBag.Services)
            {

                <div class="span6">
                    <div class="service-box aligncenter @flyDirection[count++]">
                        @{ if (count == 2) { count = 0; }}
                        <div class="icon">
                            @if (string.IsNullOrEmpty(item.ImageUrl))
                            {
                                <img class="card-img-top img-fluid" src="~/img/camera/camera-loader.gif" height="100" alt="Card image cap">
                            }
                            else
                            {
                                <img class="img-fluid" src="~/images/@item.ImageUrl" alt="Image">
                            }
                        </div>
                        <h5><span class="colored">@item.Name</span></h5>
                        <p>
                            @item.Description
                        </p>
                        <div class="pricing-terms">
                            <h6>@item.PricingRate.RateType &#x9f3;@item.PricingRate.Amount  </h6>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>