
@{
    ViewData["Title"] = "Add";
}

@section scripts
{
   

}

<form asp-controller="Product" asp-action="Add" method="post" class="form-horizontal">
    <div class="card card-secondary">
        <div class="card-body">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label asp-for="ProductName" class="control-label">Product Name</label>
                    <input asp-for="ProductName" class="form-control form-control-sm" />
                    <span asp-validation-for="ProductName" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="ProductDescription" class="control-label">Description</label>
                    <textarea asp-for="ProductDescription" class="form-control" rows="3"></textarea>
                    <span asp-validation-for="ProductDescription" class="text-danger"></span>
                </div>

                <div class="form-group col-md-4">
                    <label asp-for="Categories" class="control-label">Categories</label>
                    <select asp-for="Categories"
                            asp-items="" class="form-control form-control-sm select2" style="width: 100%;">
                        <option>Please select one</option>
                        <option>ECommerce</option>
                        <option>Software Development</option>
                    </select>
                    <span asp-validation-for="Categories" class="text-danger"></span>
                </div>
                <div class="form-group  col-md-4">
                    <label>Minimal</label>
                    <select class="form-control select2" style="width: 100%;">
                        <option selected="selected">Alabama</option>
                        <option>Alaska</option>
                        <option>California</option>
                        <option>Delaware</option>
                        <option>Tennessee</option>
                        <option>Texas</option>
                        <option>Washington</option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group  col-md-12">
                    <label>Features</label>
                    <button onclick="myFunction()">Try it</button>
                    <script>
                        function myFunction() {
                            var x = document.createElement("INPUT");
                            x.setAttribute("type", "text");
                            x.setAttribute("value", "Hello World!");
                            document.body.appendChild(x);
                        }
                    </script>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="float-left">
            <button type="submit" class="btn btn-info pull-left">Submit</button>
        </div>
        <div class="float-right">
            <a asp-area="admin" asp-controller="employee" asp-action="Index" class="btn btn-outline-info pull-right">Back To List</a>
        </div>
    </div>
</form>

