@{
    ViewData["Title"] = "Product Features";
}

@section styles
{
    <!-- DataTables -->
    <link rel="stylesheet" href="/manager/plugins/datatables-bs4/css/dataTables.bootstrap4.css">
}

@section scripts
{
    <!-- DataTables -->
    <script src="/manager/plugins/datatables/jquery.dataTables.js"></script>
    <script src="/manager/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>

    <script>
        $(function () {
            $('#example1').DataTable({
                "processing": true,
                "serverSide": true,
                "ajax": "/Manager/ProductFeature/GetProductFeature",
                "columnDefs": [
                    {
                        "orderable": false,
                        "targets": 0,
                        "render": function (data, type, row) {
                            return `<input type='checkbox' value='${data}'/>`;
                        }
                    }
                ]
            });
        });
    </script>
}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">DataTable with default features</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th><input type="checkbox" /></th>
                            <th>Feature</th>
                            <th>Description</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->