@model ProfileListingProject.Web.Areas.Manager.Models.ProjectUpdateModel
@{
    ViewData["Title"] = "Edit";
}

@section notification
{
    @await Html.PartialAsync("_Notification", Model.Notification)
}

<div class="container-fluid">
    <div class="row">
        <!-- left column -->
        <div class="col-md-6">
            <!-- general form elements -->
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Edit a Project</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form role="form" action="~/Manager/Project/Edit" method="post">
                    @Html.AntiForgeryToken()
                    <input type="hidden" value="@Model.Id" name="Id" />
                    <div class="card-body">
                        <div class="form-group">
                            <label for="ProjectName">Name</label>
                            <input type="text" class="form-control" name="Name" id="ProjectName" placeholder="Enter Project name" value="@Model.Name">
                        </div>

                        <div class="form-group col-md-6">
                            <label asp-for="Description" class="control-label">Description</label>
                            @Html.TextArea("Description", null, new { @rows = "4", @cols = "50" })
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                    </div>
                    <!-- /.card-body -->

                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
            <!-- /.card -->

        </div>
        <!--/.col (left) -->
    </div>
</div>

